html {
	background-image: url(/mercedes_amg_gt_r_2018_4k-2560x1440.jpg);
	background-size:inherit;
	background-clip: inherit;
	background-position:left ;
	image-orientation:inherit;
	background-repeat: inherit;
}

header {
	background-color: red;
	border: 0.1rem solid;
	border-top: 0.5rem;
	border-bottom: 0.5rem;
	border-width: 0mm;
	border-radius: 35rem;
	text-align: center;
	color: white;
	font-size: 1.1rem;
	font-style: bold;
	text-shadow: lightcoral;
	image-resolution: 50;
}


/* Set height of body and the document to 100% */

body,
html {
	height: 100%;
	margin: 10;
	font-family: Arial;
}


/* Style tab links */

.tablink {
	background-color: rgb(85, 85, 85);
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 25px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
	color: white;
	display: none;
	padding: 80px 20px;
	height: 100;
	width: 100;
}

#Home {
	background-color: transparent;
	font-size: 125%;
}

#Biography {
	background-color: transparent;
	font-size: 125%;
}

#Contact {
	background-color: transparent;
	font-size: 125%;
}

#About {
	background-color: transparent;
	font-size: 125%;
}
#YTclass
{
	color:black;
	background-color:white;	
}
#TTclass
{
	color:black;
	background-color:white;	
}
#FBclass
{
	color:black;
	background-color:white;	
}
#IGclass
{
	color:black;
	background-color:white;	
}
#RNclass
{
	color:black;
	background-color: white;	
}
#Mclass
{
	color:black;
	background-color:white;	
}
h2
{
	
}