html {
  background-image: url(/mercedes_amg_gt_r_2018_4k-2560x1440.jpg);
  background-size: 300%;
  border-image-repeat: no-repeat;
  background-position: left;
  font-stretch: initial;
  image-resolution: normal;
  font-family: sans-serif;

}
header {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-style: bold;
  text-shadow: lightcoral, 250, 451, 550;
  image-resolution: 50%;
  padding: 12px 35px;
  border: 3px solid crimson;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  transition: 0.3s ease-in;
}
#header h1 span {
animation: text_reveal 3s;
position: absolute;
height: 100%;
} 
#header .cta:hover {
  color: white;
  background-color: red;
  animation:  text_reveal 1s ease;
  animation-delay: 2s;
}
@keyframes text_reveal {
  50% {
  width: 100%;
  left: 0;
  }
}

   /* Set height of body and the document to 100% */
   body, html {
    height: 50;
    margin: 10;
    font-family: Arial;
    }
    /* Style tab links */
    .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 25%;
    }
    .tablink:hover {
    background-color: #777;
    }
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
    color: white;
    display: none;
    padding: 80px 20px;
    height: 100;
    width:100;
    color: white;
    background-color: green;
    animation:  text_reveal 1s ease;
    animation-delay: 2s;
    }
    #Home {background-color: transparent;
    font-size: 120%;

    }
    #Biography {background-color: Orange;}
    #Contact {background-color: Pink;}
    #About {background-color: transparent;}
    #Biography {
      background-color:inherit;
      text-align:left ;
      font-size: 1.5rem;
      color: white;
    }
    section, aside{
      color: white;
      font-size: 1.2rem;
    }

    nav
    {
      background-color:inherit;
      opacity: 100%;
    }
    #Contact
    {
      backface-visibility: inherit;
      background-color: inherit;
      font-size: 1.4rem;
    }